/* media queries */
/* lib/constants/sizes */
/* layout */
/* spacing */
/* misc */
/* body font sizes */
/* heading font sizes */
/* font family */
/* -----------------------------------------------------------------------------
 | Color Dictionary
----------------------------------------------------------------------------- */
/* Purples - lightest to darkest */
/* Blues - lightest to darkest */
/* Greens - lightest to darkest */
/* Reds - lightest to darkest */
/* Yellows - lightest to darkest */
/* Grays - lightest to darkest */
/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */
/* -base background colors */
/* lib/constants/variants */
/* CTA component colors */
/* cohesion font colors */
/* State Colors */
/* -- These use colors not found in the styleguide -- */
/* - end -- */
/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/
/* button */
/* select */
/* input */
/* stylelint-disable value-list-comma-newline-after */
/* box-shadow for store cards */
/* component: tab */
/* Nautilus colors */
/* Publish flow */
/* Public Profile */
/* v2 */
/* Sign up form width */
/* https://goo.gl/Mus6xj */
/* Font sizes */
/* columns */
/* Three equal columns */
/* Rows */
/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/
@-webkit-keyframes styles__fadein___3YMSg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes styles__fadein___3YMSg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */
/* Causes text that overflows in an element to be truncated with an ellipsis. */
/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/
.styles__select___3eo6j {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-right: 16px;
}
.styles__search___QCzZu {
  height: 36px;
}
.styles__searchHeader___3Sy2J {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.styles__link___31ZPl {
  text-decoration: underline;
  cursor: pointer;
}

/* media queries */
/* lib/constants/sizes */
/* layout */
/* spacing */
/* misc */
/* body font sizes */
/* heading font sizes */
/* font family */
/* -----------------------------------------------------------------------------
 | Color Dictionary
----------------------------------------------------------------------------- */
/* Purples - lightest to darkest */
/* Blues - lightest to darkest */
/* Greens - lightest to darkest */
/* Reds - lightest to darkest */
/* Yellows - lightest to darkest */
/* Grays - lightest to darkest */
/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */
/* -base background colors */
/* lib/constants/variants */
/* CTA component colors */
/* cohesion font colors */
/* State Colors */
/* -- These use colors not found in the styleguide -- */
/* - end -- */
/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/
/* button */
/* select */
/* input */
/* stylelint-disable value-list-comma-newline-after */
/* box-shadow for store cards */
/* component: tab */
/* Nautilus colors */
/* Publish flow */
/* Public Profile */
/* v2 */
/* Sign up form width */
/* https://goo.gl/Mus6xj */
/* Font sizes */
/* columns */
/* Three equal columns */
/* Rows */
/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/
@-webkit-keyframes styles__fadein___HMeuz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes styles__fadein___HMeuz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */
/* Causes text that overflows in an element to be truncated with an ellipsis. */
/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/
.styles__barWrapper___1git8 {
  width: 100%;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05),
  0 2px 4px 0 rgba(0, 0, 0, .06);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05),
  0 2px 4px 0 rgba(0, 0, 0, .06);
}
@media only screen and (min-width: 601px) {
  .styles__barWrapper___1git8 {
    height: 64px;
  }
}
.styles__productTab___2YNtd {
  text-transform: capitalize;
  height: 64px;
  color: #445d6e;
  font-weight: 400;
  font-size: 14px
}
.styles__productTab___2YNtd:hover {
  color: #099cec;
  opacity: 1;
}
.styles__productTab___2YNtd:hover .styles__productIcon___3yfg5 svg.dicon {
      fill: #099cec;
}
.styles__productTab___2YNtd.dbutton {
  margin: 0 24px 0 -12px;
  padding: 0 12px;
}
@media only screen and (max-width: 600px) {
  .styles__productTab___2YNtd {
    width: 100%;
  }
}
.styles__productIcon___3yfg5 svg.dicon {
  margin-right: 4px;
  width: 18px;
  padding-top: 4px;
  fill: #254356;
}
.styles__selectedClass___x8pC0.dbutton {
  font-weight: 600;
  color: #099cec;
  opacity: 1;
  border-bottom: 2px solid #099cec;
}
.styles__selectedClass___x8pC0 .styles__productIcon___3yfg5 svg.dicon {
    fill: #099cec;
  }

/* media queries */
/* lib/constants/sizes */
/* layout */
/* spacing */
/* misc */
/* body font sizes */
/* heading font sizes */
/* font family */
/* -----------------------------------------------------------------------------
 | Color Dictionary
----------------------------------------------------------------------------- */
/* Purples - lightest to darkest */
/* Blues - lightest to darkest */
/* Greens - lightest to darkest */
/* Reds - lightest to darkest */
/* Yellows - lightest to darkest */
/* Grays - lightest to darkest */
/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */
/* -base background colors */
/* lib/constants/variants */
/* CTA component colors */
/* cohesion font colors */
/* State Colors */
/* -- These use colors not found in the styleguide -- */
/* - end -- */
/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/
/* button */
/* select */
/* input */
/* stylelint-disable value-list-comma-newline-after */
/* box-shadow for store cards */
/* component: tab */
/* Nautilus colors */
/* Publish flow */
/* Public Profile */
/* v2 */
/* Sign up form width */
/* https://goo.gl/Mus6xj */
/* Font sizes */
/* columns */
/* Three equal columns */
/* Rows */
/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/
@-webkit-keyframes styles__fadein___11Z-Y {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes styles__fadein___11Z-Y {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */
/* Causes text that overflows in an element to be truncated with an ellipsis. */
/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/
.styles__select___1Jy4z {
  width: 200px;
  height: 36px;
  display: inline-block;
}
.styles__search___BtAXD {
  height: 36px;
}
.styles__searchHeader___28vtd {
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.styles__currentSearch___35kW_ {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
}
.styles__currentFilterGroup___1awKt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 12px;
}
.styles__clear___mcZND {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}
.styles__closeFilter___1OZwH {
  margin-bottom: 8px
}
.styles__closeFilter___1OZwH:not(:last-child) {
  margin-right: 8px;
}
.styles__close___1AmHG {
  width: 8px;
  height: 8px;
}

/* media queries */
/* lib/constants/sizes */
/* layout */
/* spacing */
/* misc */
/* body font sizes */
/* heading font sizes */
/* font family */
/* -----------------------------------------------------------------------------
 | Color Dictionary
----------------------------------------------------------------------------- */
/* Purples - lightest to darkest */
/* Blues - lightest to darkest */
/* Greens - lightest to darkest */
/* Reds - lightest to darkest */
/* Yellows - lightest to darkest */
/* Grays - lightest to darkest */
/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */
/* -base background colors */
/* lib/constants/variants */
/* CTA component colors */
/* cohesion font colors */
/* State Colors */
/* -- These use colors not found in the styleguide -- */
/* - end -- */
/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/
/* button */
/* select */
/* input */
/* stylelint-disable value-list-comma-newline-after */
/* box-shadow for store cards */
/* component: tab */
/* Nautilus colors */
/* Publish flow */
/* Public Profile */
/* v2 */
/* Sign up form width */
/* https://goo.gl/Mus6xj */
/* Font sizes */
/* columns */
/* Three equal columns */
/* Rows */
/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/
@-webkit-keyframes styles__fadein___MKihJ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes styles__fadein___MKihJ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */
/* Causes text that overflows in an element to be truncated with an ellipsis. */
/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/
.styles__title___WZE80 {
  font-size: 14px;
  line-height: 20px;
  color: #27343b;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.styles__title___WZE80 .styles__tooltip___DIiur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 4px;
  }
.styles__title___WZE80 .styles__tooltip___DIiur svg {
    fill: #8f9ea8;
  }
.styles__clearAll___KmAW4 {
  font-weight: 600;
  margin-bottom: 12px;
  cursor: pointer;
  text-decoration: underline;
}
.styles__checkboxIconLine___3G8cE {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.styles__input___k3LJ2 {
  font-size: 14px;
  line-height: 20px;
  color: #27343b;
  margin-bottom: 12px;
}
.styles__filterToggleIcon___1f91v svg {
  fill: #445d6e;
}
.styles__darkRule___QZQat {
  border-color: #e0e4e7;
}

/* media queries */
/* lib/constants/sizes */
/* layout */
/* spacing */
/* misc */
/* body font sizes */
/* heading font sizes */
/* font family */
/* -----------------------------------------------------------------------------
 | Color Dictionary
----------------------------------------------------------------------------- */
/* Purples - lightest to darkest */
/* Blues - lightest to darkest */
/* Greens - lightest to darkest */
/* Reds - lightest to darkest */
/* Yellows - lightest to darkest */
/* Grays - lightest to darkest */
/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */
/* -base background colors */
/* lib/constants/variants */
/* CTA component colors */
/* cohesion font colors */
/* State Colors */
/* -- These use colors not found in the styleguide -- */
/* - end -- */
/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/
/* button */
/* select */
/* input */
/* stylelint-disable value-list-comma-newline-after */
/* box-shadow for store cards */
/* component: tab */
/* Nautilus colors */
/* Publish flow */
/* Public Profile */
/* v2 */
/* Sign up form width */
/* https://goo.gl/Mus6xj */
/* Font sizes */
/* columns */
/* Three equal columns */
/* Rows */
/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/
@-webkit-keyframes styles__fadein___2RAgo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes styles__fadein___2RAgo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */
/* Causes text that overflows in an element to be truncated with an ellipsis. */
/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/
.styles__pageWrapper___2Jbo- {
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  .styles__content___1xyvL {
    display: flex;
    flex-flow: row wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .styles__content___1xyvL > * {
    lost-column-cycle: 2;
  }
  .styles__content___1xyvL > *:nth-child(1) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(24.975% - 9px);
    max-width: calc(24.975% - 9px);
    width: calc(24.975% - 9px);
  }
  .styles__content___1xyvL > *:nth-child(1):nth-child(1n) {
    margin-right: 12px;
    margin-left: 0;
  }
  .styles__content___1xyvL > *:nth-child(1):last-child {
    margin-right: 0;
  }
  .styles__content___1xyvL > *:nth-child(1):nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .styles__content___1xyvL > *:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(74.925% - 3px);
    max-width: calc(74.925% - 3px);
    width: calc(74.925% - 3px);
  }
  .styles__content___1xyvL > *:nth-child(2):nth-child(1n) {
    margin-right: 12px;
    margin-left: 0;
  }
  .styles__content___1xyvL > *:nth-child(2):last-child {
    margin-right: 0;
  }
  .styles__content___1xyvL > *:nth-child(2):nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .styles__content___1xyvL {
    padding-top: 48px;
  }

  .styles__filters___148XN {
    padding-right: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .styles__content___1xyvL {
    display: flex;
    flex-flow: row wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .styles__content___1xyvL > * {
    lost-column-cycle: 2;
  }
  .styles__content___1xyvL > *:nth-child(1) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: -12px;
    max-width: -12px;
    width: -12px;
  }
  .styles__content___1xyvL > *:nth-child(1):nth-child(1n) {
    margin-right: 12px;
    margin-left: 0;
  }
  .styles__content___1xyvL > *:nth-child(1):last-child {
    margin-right: 0;
  }
  .styles__content___1xyvL > *:nth-child(1):nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .styles__content___1xyvL > *:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 99.9%;
    max-width: 99.9%;
    width: 99.9%;
  }
  .styles__content___1xyvL > *:nth-child(2):nth-child(1n) {
    margin-right: 12px;
    margin-left: 0;
  }
  .styles__content___1xyvL > *:nth-child(2):last-child {
    margin-right: 0;
  }
  .styles__content___1xyvL > *:nth-child(2):nth-child(12n) {
    margin-right: 0;
    margin-left: auto;
  }
  .styles__content___1xyvL {
    padding-top: 48px;
  }

  .styles__filters___148XN {
    display: none;
  }
}
.styles__resultsWrapper___38JCx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.styles__filterList___2psgu {
  margin-bottom: 16px
}
.styles__filterList___2psgu:not(.styles__caseSensitive___2KI2u) {
  text-transform: capitalize;
}
.styles__input___3kA_m {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 8px;
}
.styles__communityImagesBanner___3-MRQ {
  padding: 24px;
  text-align: center;
}
.styles__helpText___2SjAZ {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
  color: #8f9ea8;
}
.styles__communityImagesLink___tTol- {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  margin-top: 4px;
  cursor: pointer;
  text-decoration: underline;
}
.styles__showDockerVerifiedBanner___3EcSt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.styles__description___3C_9a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: normal;
  font-weight: 600;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.styles__pagination___29ukC {
  padding: 24px;
}
.styles__warning___3zUSD {
  margin: 0 32px 0 8px;
}
.styles__tabsWrapper___1OJ45 {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.styles__tabWidth___1xYvt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1
}
.styles__tabWidth___1xYvt:hover {
  cursor: pointer;
}
.styles__loading___29nJL {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.styles__certifiedIcon___pmQ1m {
  margin-right: 8px;
}
.styles__title___20d1w {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 10px;
}
.styles__whiteBackground___3WIqM {
  background-color: #ffffff;
}
.styles__filterTitle___13dp7 {
  font-size: 14px;
  line-height: 20px;
  color: #27343b;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.styles__clear___e7m0f {
  margin-left: 24px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}
.styles__darkRule___AXJtA {
  border-color: #e0e4e7;
}

/* media queries */
/* lib/constants/sizes */
/* layout */
/* spacing */
/* misc */
/* body font sizes */
/* heading font sizes */
/* font family */
/* -----------------------------------------------------------------------------
 | Color Dictionary
----------------------------------------------------------------------------- */
/* Purples - lightest to darkest */
/* Blues - lightest to darkest */
/* Greens - lightest to darkest */
/* Reds - lightest to darkest */
/* Yellows - lightest to darkest */
/* Grays - lightest to darkest */
/* -----------------------------------------------------------------------------
 | Color Purpose Vars
----------------------------------------------------------------------------- */
/* -base background colors */
/* lib/constants/variants */
/* CTA component colors */
/* cohesion font colors */
/* State Colors */
/* -- These use colors not found in the styleguide -- */
/* - end -- */
/* Note: These are volumes states and not actual/valid object states.
 Added here for completion
*/
/* button */
/* select */
/* input */
/* stylelint-disable value-list-comma-newline-after */
/* box-shadow for store cards */
/* component: tab */
/* Nautilus colors */
/* Publish flow */
/* Public Profile */
/* v2 */
/* Sign up form width */
/* https://goo.gl/Mus6xj */
/* Font sizes */
/* columns */
/* Three equal columns */
/* Rows */
/* TODO:  Use flex. Flexbox doesn't seem to work on iOS safari/chrome
          when overriding a lost column for small devices (?)(Registration page)
*/
@-webkit-keyframes styles__fadein___2jE8k {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes styles__fadein___2jE8k {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex does not work inside firefox buttons, this is a workaround
   http://stackoverflow.com/questions/24289251/flexbox-not-working-in-buttons-in-firefox */
/* Causes text that overflows in an element to be truncated with an ellipsis. */
/*
 A little trick for vertically centering text content that doesn't wrap when
 the element's height is known.
*/
.styles__tooltip___26K_D {
  position: absolute;
  top: 2px;
  z-index: 3;
}
.styles__tooltip___26K_D svg {
  fill: #8f9ea8;
}
.styles__tooltipPublisher___2A-n_ {
  left: 120px;
}
.styles__tooltipOfficial___1GlKr {
  left: 100px;
}
.styles__label___1l_xV {
  font-weight: 500;
}
.styles__subtext___1bSgE {
  font-size: 80%;
}

